@theme {
  --color-brand-primary: #1c1e22;
  --color-brand-primary-light: #2b2d31;
  --color-brand-secondary: #37474f;
  --color-blue-300: #42a5f5;
  --color-blue-400: #1e88e5;
  --color-accent-light-blue: #82b1ff;
  --color-gray-100: #f0f0f0;
  --color-gray-200: #e0e0e0;
}
