@theme {
  --color-brand-primary: #1c1e22;
  --color-brand-primary-light: #2b2d31;
  --color-brand-red: #ff4c4c;
  --color-brand-yellow: #ffa500;
  --color-brand-offwhite: #f6f6f6;
  --color-brand-green: #00c49f;
  --color-brand-secondary: #37474f;
  --color-blue-300: #42a5f5;
  --color-blue-400: #1e88e5;
  --color-accent-light-blue: #82b1ff;
  --color-gray-100: #f0f0f0;
  --color-gray-200: #e0e0e0;

  --animate-fade-in-scale: fade-in-scale 0.3s ease-out;
  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}
