@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #1c1e22;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  width: 100%;
}

@import './base.css';
